package templates

templ Footer(cfg StatsConfig) {
	<div class="w-full flex justify-center gap-4 my-5">
		<a class="underline" href="http://github.com/ksckaan1/stati">GitHub</a>
		<span>
			Stati { cfg.Version }
		</span>
	</div>
}
